
 <link rel="stylesheet" href="/assets/css/stylebrowser.css">
 

<nav class="hover-underline-menu" data-menu-underline-from-center>
        <ul class="menu align-center">
          <li><a href="#home">Home</a></li>
          <li><a href="#browser.handlerbars">browser</a></li>
          li><a href="#vc.handlebars">VC</a></li>
          <li><a href="#startup.handlebars">Startup</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </nav>



      <div style="margin-bottom: 80px"></div>

{{!-- /*-----------------VC logo images---------------*/ --}}

<div class="grid-container">
  <div class="grid-x grid-padding-x medium-unstack equal-height-cards">
    <div class="cell medium-4">
      <div class="card">
        <div class="card-section">
          <img src="assets/img/bettervent.png" alt="logo" width="600" height="440">
        </div>
        <div class="card-divider">
        </div>
      </div>
    </div>
    <div class="cell medium-4">
      <div class="card">
        <div class="card-section">
          <img src="assets/img/aminocap.png" alt="logo" width="600" height="440">
        </div>
        <div class="card-divider">
        </div>
      </div>
    </div>
    <div class="cell medium-4">
      <div class="card">
        <div class="card-section">
          <img src="assets/img/aphelioncap.png" alt="logo" width="600" height="440">
        </div>
        <div class="card-divider">
        </div>
      </div>
    </div>
    <div class="cell medium-4">
      <div class="card">
        <div class="card-section">
           <img src="assets/img/musecap.png" alt="logo" width="600" height="440">
        </div>
        <div class="card-divider">
        </div>
      </div>
    </div>
    <div class="cell medium-4">
      <div class="card">
        <div class="card-section">
          <img src="assets/img/concruent.png" alt="logo" width="600" height="440">
        </div>
        <div class="card-divider">
        </div>
      </div>
    </div>
    <div class="cell medium-4">
      <div class="card">
        <div class="card-section">
          <img src="assets/img/rockheal.png" alt="logo" width="600" height="440">
        </div>
        <div class="card-divider">
        </div>
      </div>
    </div>
  </div>
</div>

    <div style="margin-bottom: 90px"></div>

{{!-- /*-------------middle start----------------*/ --}}

<div class="row top-margin" style="text-align:center">
  <div class="column align-self-middle">
    <div class="callout callout-hover-reveal" data-callout-hover-reveal>
      <div class="callout-body">
        <h2> All VC </h2>
       
      </div>
    </div>
  </div>
</div>
{{!-- /*-------------middle end----------------*/ --}}

<div style="margin-bottom:20px"></div>

{{!-- /*------------------table----------------*/ --}}

<table class="table-expand" id="vc-data">
  <thead>
    <tr class="table-expand-row">
      <th width="150">Name</th>
      <th width="150">Website</th>
      <th width="70">City</th>
      <th width="60">State</th>
      <th width="200">Industries</th>
      <th width="70">Stage</th>
      <th width="70">lead</th>
    </tr>
  </thead>
  <tbody>
   
  {{#each vcs}}

    <tr class="table-expand-row" data-open-details>
      <td>{{this.dataValues.vcName}}</td>
      <td>{{this.dataValues.vcWebsite}}</td>
      <td>{{this.dataValues.vcCity}}</td>
      <td>{{this.dataValues.vcState}}</td>
      <td>{{this.dataValues.vcIndustries}}</td>
      <td>{{this.dataValues.vcState}}</td>
      <td>{{this.dataValues.vcLead}}</td>
      <td>carried over <span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, 
          adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td>
    </tr>

  {{/each}}

  </tbody>
</table>

<div style="margin-bottom: 90px"></div>

{{!-- /*---------------end of table------------------*/  --}}

ramon
<div>
  {{#each vcs}}
  <p>{{this.dataValues.vcName}}</p>
  {{/each}}
</div>



 <script src="/script/browser.js"></script>






 

  


