
   	 <link rel="stylesheet" href="/assets/css/stylestartup.css">
      
   
    <nav class="hover-underline-menu" data-menu-underline-from-center>
        <ul class="menu align-center">
          <li><a href="#">Home</a></li>
          <li><a href="#">VC</a></li>
          <li><a href="#">Startup</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
    </nav>

    {{!-- <div style="margin-bottom: 90px"></div> --}}

{{!-- /*----------scroll images------------*/ --}}

<div class="fullscreen-image-slider">
  <div class="orbit" role="region" aria-label="FullScreen Pictures" data-orbit>
    <ul class="orbit-container">
      <button class="orbit-previous">
        <span class="show-for-sr">Previous Slide</span>
        <span class="nav fa fa-chevron-left fa-3x"></span>
      </button>
      <button class="orbit-next">
        <span class="show-for-sr">Next Slide</span>
        <span class="nav fa fa-chevron-right fa-3x"></span>
      </button>
      <li class="is-active orbit-slide">
        <img class="orbit-image" src="https://i.imgur.com/16z9ObN.jpg" alt="Space">
        <figcaption class="orbit-caption">
          <h1>Lorem ipsum dolor sit amet, <br>consectetur adipisicing elit.</h1>
        </figcaption>
      </li>
      <li class="orbit-slide">
        <img class="orbit-image" src="https://i.imgur.com/JD4Caxa.jpg" alt="Space">
        <figcaption class="orbit-caption">
          <h1>Lorem ipsum dolor sit amet, <br>consectetur adipisicing elit.</h1>
        </figcaption>
      </li>
      <li class="orbit-slide">
        <img class="orbit-image" src="https://i.imgur.com/rsTQbNV.jpg" alt="Space">
        <figcaption class="orbit-caption">
          <h1>Lorem ipsum dolor sit amet, <br>consectetur adipisicing elit.</h1>
        </figcaption>
      </li>
    </ul>
  </div>
</div>


 <div style="margin-bottom:200px"></div>



{{!-- /*----------middle callout------------*/ --}}

    <div class="row top-margin" style="text-align:center">
      <div class="column align-self-middle">
        <div class="callout callout-hover-reveal" data-callout-hover-reveal>
          <div class="callout-body">
            <h2> All Startup looking for VC in similar Industries </h2>
            <!-- <p>I'll show you Bill Murray in the callout footer.</p> -->
          </div>
        </div>
      </div>
    </div>

    {{!-- /*----------middle callout------------*/ --}}
    
    <div style="margin-bottom:100px"></div>
    
    {{!-- /*---------------start of table------------------*/ --}}
    
    <table class="table-expand" id="startup-data">
  <thead>
    <tr class="table-expand-row">
      <th width="150">Name</th>
      <th width="150">Website</th>
      <th width="70">City</th>
      <th width="100">State</th>
      <th width="150">Industry</th>
      <th width="70">Stage</th>   
    </tr>
  </thead>
  <tbody>
    <tr class="table-expand-row"  id="suDisplay" data-open-details>
      {{#each startupProfile}}
      <td>{{dataValues.startup_name}}</td>
      <td>{{dataValues.startup_website}}</td>
      <td>{{dataValues.startup_city}}</td>
      <td>{{dataValues.startup_state}}</td>
      <td>{{dataValues.startup_industry}}</td>
      <td>{{dataValues.startup_stage}}<span class="expand-icon"></span></td>
    </tr>
    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, 
          adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
    </tr>
                {{/each}}
    {{!-- <tr class="table-expand-row" data-open-details>
      <td>Michael Blaun</td>
      <td>mickael.com</td>
      <td>New york</td>
      <td>USA</td>
      <td>Developer</td>
      <td>TBD<span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, 
          adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td>
    </tr> --}}
{{!-- 
    <tr class="table-expand-row" data-open-details>
      <td>Bruce Jackson</td>
      <td>bruce.com</td>
      <td>USA</td>
      <td>LA</td>
      <td>Marketing</td>
      <td>carried over <span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam,
           adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td>
    </tr>

    <tr class="table-expand-row" data-open-details>
      <td>Kevin Lang</td>
      <td>kevina.com</td>
      <td>Milan</td>
      <td>Italy</td>
      <td>Tech</td>
      <td>TBD <span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam,
           adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td>
    </tr>

    <tr class="table-expand-row" data-open-details>
      <td>Leo Ferregani</td>
      <td>luna.com</td>
      <td>USA</td>
      <td>New York</td>
      <td>Tech</td>
      <td>carried over <span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam,
           adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td>
    </tr> --}}
{{!-- 
    <tr class="table-expand-row" data-open-details>
      <td>willian Ferrer</td>
      <td>willian.com</td>
      <td>LA</td>
      <td>USA</td>
      <td>Fashion Design </td>
      <td>stage 2<span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, 
          adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td> --}}
    {{!-- </tr>

    <tr class="table-expand-row" data-open-details>
      <td>Luna Ferregani</td>
      <td></td>
      <td>Milan</td>
      <td>Italy</td>
      <td>Fashion Design / Tech</td>
      <td>paid <span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam,
          adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td>
    </tr>

    <tr class="table-expand-row" data-open-details>
      <td>Luna Ferregani</td>
      <td></td>
      <td>Milan</td>
      <td>Italy</td>
      <td>Fashion Design / Tech</td>
      <td>tbd <span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, 
          adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td>
    </tr>

    <tr class="table-expand-row" data-open-details>
      <td>Luna Ferregani</td>
      <td>lunacom</td>
      <td>Milan</td>
      <td>Italy</td>
      <td>Fashion Design / Tech</td>
      <td>3 <span class="expand-icon"></span></td>
    </tr>

    <tr class="table-expand-row-content">
      <td colspan="8" class="table-expand-row-nested">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, 
          adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
      </td>
      </td>
    </tr> --}}

  </tbody>
</table>

    
    <div style="margin-bottom: 90px"></div>
    
       {{!-- /*---------------end of table------------------*/ --}}

  
<script src="/script/startups.js"></script>
  
    
   
    